LAFAN1_Retargeting_Dataset/robot_description/g1/*
LAFAN1_Retargeting_Dataset/robot_description/h1/*
LAFAN1_Retargeting_Dataset/g1/*
LAFAN1_Retargeting_Dataset/h1/*
logs/*
outputs/*
recordings/*
**/__pycache__/*
**/*.egg-info/
wandb/*
LAFAN1_Retargeting_Dataset/*
lafan_h1_2/*
lafan_Q1/*
artifacts/*
deploy_mujoco/recordings/* 
deploy_mujoco/artifacts/*
deploy_mujoco/deploy_policy/*